<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <form th:action="@{'/item/add'}" method="post">
      <input type="text" name="name">
      <input type="text" name="price">
      <select name="car-country-id">
          <option th:each = "c : ${count}" th:value="${c.id}" th:text="${c.getName()}"></option>
      </select>
      <select name="categories" multiple="multiple">
          <option th:each = "c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
      </select>
      <button type="submit">add</button>
  </form>

  <a th:href="@{'/country'}">country</a>

  <div th:each="i : ${items}">
      <span th:text="${i.getNameItem()}"></span>
      <span th:text="${i.getPrice()}"></span>
      <span th:text="${i.getCountry().code}"></span>
      <a th:href="@{'/item/' + ${i.getId()}}">details</a>
      <a th:href="@{'/item/delete/' + ${i.getId()}}">delete</a>
  </div>

</body>
</html>